body {
    margin: 0;
    background-color:burlywood ;
}
.name{
   font-size: 200px;
   color: rgba(155, 8, 8, 0.981);
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 text-align: center;
}
.descript{
    text-align: center;
    color: rgba(228, 219, 219, 0.981);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 50px;
}
.topnav {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: upper-latin;
    background-color: rgba(20, 82, 228, 0.716);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;}
   
    .topnav a:active{
        background-color:  rgba(155, 8, 8, 0.981);
    }


 section{
    margin:5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px; 
    background-color: rgba(20, 82, 228, 0.716);
    color: white;
 }  
 
 body {
    background-image: url("streaming.jpg");
  }

  .price{
    text-align: center;
    color:  rgba(248, 240, 240, 0.981) ;
    font-size: 70px;

    
  }
  .service{
    background-color: rgb(15, 14, 14);
    text-align: center;
    font-size: 50px;
    color:rgba(155, 8, 8, 0.981) ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .address{
    background-color: rgb(15, 14, 14);
    text-align: center;
    font-size: 50px;
    color:rgba(155, 8, 8, 0.981) ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  div.container{
    text-align: center;
  }
  .list{
    display: inline-block;
    text-align: left;
  }
  .title{
    font-size: 40px;
  }