body {
    margin: 0;
    background-color:burlywood ;
}
.name{
   font-size:100px ;
   color: rgba(20, 82, 228, 0.716);
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 text-align: center;
}
.descript{
    text-align: center;
    color: rgba(20, 82, 228, 0.716);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.topnav {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: upper-latin;
    background-color: rgba(20, 82, 228, 0.716);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  section {
    height: 500px;
  }